#section-2{
        
        background-color: lightgray;
        display: grid;
        justify-items: center;
        padding: 20px;
        font-family: 'Comforta', sans-serif;
        
       
        
    

}